<nav aria-label="Hauptnavigation">
  <mat-nav-list class="cgi-side-nav__list">
    <a
      mat-list-item
      routerLink="/portfolio"
      routerLinkActive="cgi-side-nav__link--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Portfolio
    </a>
    <a
      mat-list-item
      routerLink="/projects"
      routerLinkActive="cgi-side-nav__link--active"
    >
      Projekte
    </a>

    @if (authService.isAdmin()) {
      <div class="cgi-side-nav__divider"></div>
      <h3 class="cgi-side-nav__subheader">Administration</h3>
      <a
        mat-list-item
        routerLink="/admin/users"
        routerLinkActive="cgi-side-nav__link--active"
      >
        <mat-icon matListItemIcon>people</mat-icon>
        Benutzer
      </a>
    }
  </mat-nav-list>
</nav>
